<?xml version="1.0"?>
<config>
    <modules>
        <Canalweb_ContextUrlKeys>
            <version>1.0.0</version>
        </Canalweb_ContextUrlKeys>
    </modules>
    <global>
        <helpers>
            <contexturlkeys>
                <class>Canalweb_ContextUrlKeys_Helper</class>
            </contexturlkeys>
        </helpers>
        <models>
            <contexturlkeys>
                <class>Canalweb_ContextUrlKeys_Model</class>
            </contexturlkeys>
        </models>
        <events>
            <catalog_product_save_before>
                <observers>
                    <contexturlkeys>
                        <type>singleton</type>
                        <class>contexturlkeys/observer</class>
                        <method>updateurl</method>
                    </contexturlkeys>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
    <adminhtml>
       <acl>
           <resources>
               <admin>
                   <children>
                       <system>
                           <children>
                               <config>
                                   <children>
                                       <conversaa translate="title">
                                           <title>Conversaa</title>
                                       </conversaa>
                                   </children>
                               </config>
                           </children>
                       </system>
                   </children>
               </admin>
           </resources>
        </acl>
     </adminhtml>
</config>
